@font-face {
    font-family: 'Fortnite';
    src: url('./fonts/Fortnite.otf');
    font-weight: normal;
}
html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: "Mochiy Pop One", serif;
    margin: 0;
    padding: 0;
    color: #46331F;
    font-weight: bold;
}

*, *::after, *::before{
    box-sizing: border-box;
}

.wrap{
    position: relative;
    margin: 100px 0;
}

/* .decorations .lantern-1{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transform: translate(-50%, -50%) scale(0.8) rotateZ(-20deg);
}

.decorations .lantern-2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(50%, -50%);
} */

h1 {
    margin: 0;
    position: relative;
}

img{
    max-width: 100%;
}

.image-container{
 max-width: 800px;
 position: relative;
}

.code{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.helper-text p{
    font-size: 55px;
    text-align: center;
    margin: 0;
    margin-bottom: -30px;
    text-transform: uppercase;
}

.helper-text .fortnite{
    font-family: 'Fortnite', sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    color: #178FDB;
    letter-spacing: 3px;
    font-weight: normal;
    display: block;
    margin: 15px 0;
}

.letters{
    text-align: center;
    font-size: 60px;
}


.letter {
    display: inline-block;
    visibility: hidden;    
}