html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "Lilita One", sans-serif;
    overflow: hidden;
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
    font-size: 60px;
}

.text-wrapper {
    background-image: url('./bg.jpg');
    padding: 20px 40px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 0%;
    background-position-y: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);

}

.letter {
    display: inline-block;
    color: #FFF5C9;
    text-shadow: 0 0 5px #000;
    letter-spacing: 3px;
}